<!DOCTYPE html>
<html>

<SCRIPT LANGUAGE="JavaScript">
<!-- Begin  
var citymessages = new Array(); 
citymessages[0] = "";
citymessages[1] = "LA";
citymessages[2] = "Boston";
citymessages[3] = "nyc";  
citymessages[4] = "Chicago";
citymessages[5] = "Miami";

function cityMessageReveal() { 
	var messageindex = document.form.cities.selectedIndex;

	helpmsg = citymessages[messageindex];

	if (document.form.city.value == ""){
		document.form.city.value = helpmsg;
	}
	else{
		document.form.city.value += ", " + helpmsg;
	}
}

function timeMessageReveal(){
	var hour = document.form.hour.selectedIndex;
}

// End -->
</SCRIPT>

<head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.0/jquery.timepicker.min.css">
</head>

<body>
<div>
<form id="form" name = "form" method = 'post'>
	<table border="0">
		<tr>
	      <td>Name</td>
          <td><input type = "text" id="name" name = "name"></td>
          <td>Age</td>
          <td><input type = "text" id="agefrom" name = "agefrom">to<input type = "text" id="ageto" name = "ageto"></td>
        </tr>
        <tr>
          <td>Favourite city</td>
          <td>
            <input type = "text" id="city" name = "city" readonly="true">
            <select name="cities" OnChange="cityMessageReveal()">
            	<option></option>
            	<option value="LA">LA</option>
				<option value="Boston">Boston</option>
				<option value="nyc">nyc</option>
				<option value="Chicago">Chicago</option>
				<option value="Miami">Miami</option>
            </select>
          </td>
          <td>Favourite time</td>
          <td>
            <input type = "text" id="times" name = "times" class="ui-timepicker-input">
            <div class="ui-timepicker-wrapper ui-timepicker-positioned-top optional-custom-classname" tabindex="-1">
    <ul class="ui-timepicker-list">
        <li class="ui-timepicker-am">12:00am</li>
        <li class="ui-timepicker-am">12:30am</li>

        <li class="ui-timepicker-pm">4:30pm</li>
        <li class="ui-timepicker-pm ui-timepicker-selected">5:00pm</li>
        <li class="ui-timepicker-pm ui-timepicker-disabled">5:30pm</li>
        <li class="ui-timepicker-pm">6:00pm <span class="ui-timepicker-duration">(1 hour)</span></li>
        <li class="ui-timepicker-pm">6:30pm</li>

        <li class="ui-timepicker-pm">11:30pm</li>
    </ul>
</div>
            <select name="hour", OnChange="timeMessageReveal()">
            	<option></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
            </select>
            :
            <select name="minute">
            	<option></option>
				<option value="00">00</option>
				<option value="30">30</option>
            </select>
            add
          </td>
        </tr>
        <tr>
          <td><input type = "reset" value = "Reset"></td>
          <td><input type = "submit" id="sub" value = "Submit"></td>
        </tr>

</table>
</form>
</div>
<br/>

<div>
	<table id="usertable" border="1">
		<thead>
			<tr>
				<th>
					<a id = "namesort" href="#">Name</a>
				</th>
				<th>
					<a id = "agesort" href="#">Age</a>
				</th>
				<th>
					Favourites
				</th>
			</tr>
		</thead>
		<tbody id = "usertbody">
		</tbody>
	</table>
</div>
</body>
<footer>
	<script src="/js/plugins/jquery.min.js"></script>
	<script src="/js/plugins/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.0/jquery.timepicker.min.js"></script>
	<script src="/js/users.js"></script>
</footer>
</html>