<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.0/jquery.timepicker.min.css">
</head>

<body>
<div>
<form id="form" name = "form" method = 'post'>
	<table border="0">
		<tr>
	      <td>Name</td>
          <td><input type = "text" id="name" name = "name"></td>
          <td>Age</td>
          <td><input type = "text" id="agefrom" name = "agefrom">to<input type = "text" id="ageto" name = "ageto"></td>
        </tr>
        <tr>
          <td>Favourite city</td>
          <td>
            <input type = "text" id="city" name = "city" readonly="true">
            <select name="cities" OnChange="cityMessageReveal()">
            	<option></option>
            	<option value="LA">LA</option>
				<option value="Boston">Boston</option>
				<option value="NewYork">NewYork</option>
				<option value="Chicago">Chicago</option>
				<option value="Miami">Miami</option>
            </select>
          </td>
          <td>Favourite time</td>
          <td>
            <input type = "text" id="times" name = "times" class="ui-timepicker-input">       
          </td>
        </tr>
        <tr>
          <td><input type = "reset" value = "Reset"></td>
          <td><input type = "submit" id="sub" value = "Submit"></td>
        </tr>

</table>
</form>
</div>
<br/>

<div>
	<table id="usertable" border="1">
		<thead>
			<tr>
				<th>
					<a id = "namesort" href="#">Name</a>
				</th>
				<th>
					<a id = "agesort" href="#">Age</a>
				</th>
				<th>
					Favourites
				</th>
			</tr>
		</thead>
		<tbody id = "usertbody">
		</tbody>
	</table>
</div>
</body>
<footer>
	<script src="/js/plugins/jquery.min.js"></script>
	<script src="/js/plugins/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.0/jquery.timepicker.min.js"></script>
	<script src="/js/users.js"></script>
</footer>
</html>